@model IEnumerable<AmberEnrollmentAPI.Models.BeverageOption>

@{
    ViewData["Title"] = "Index";
}

<partial name="_KitchenStaff_Dashboard" />
<center>
    <h3>Beverage Options</h3>
</center>




<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BeverageName)
            </th>
            <th><p>
                    <a asp-action="Create" class="btn btn-sm btn-success">Create New
                        <i class="fa-sharp fa-solid fa-pen-to-square"></i>
                    </a>
                </p>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BeverageName)
            </td>
                <td>
                    <div class=" btn-group w-75">
                        <!--Align buttons-->
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-success">
                            <i class="fa-sharp fa-solid fa-pen-to-square"></i>
                        </a>

                        <a asp-action="Detail" asp-route-id="@item.Id" class="btn btn-sm btn-outline-dark">
                            <i class="fa-solid fa-circle-info"></i>
                        </a>

                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger">
                            <i class="far fa-trash-alt"></i>
                        </a>
                    </div>
                </td>
        </tr>
}
    </tbody>
</table>
